.post__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.postsCard {
    padding: 1rem;
    width: 40%;
    height: 300px;
}
.description {
    height: 100px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6ca1ed;
    border-radius: 10px;
}